In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1321,tt0351283,75000000,532680671,Madagascar,Ben Stiller|Chris Rock|David Schwimmer|Jada Pi...,Eric Darnell|Tom McGrath,It's All Some Type Of Whacked Out Conspiracy.,Zoo animals leave the comforts of man-made hab...,86,Family|Animation,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/25/2005,6.4,2005
1545,tt0483726,20000000,41237648,Man of the Year,Robin Williams|Christopher Walken|Laura Linney...,Barry Levinson,Elections are made to be broken.,The irreverent host of a political satire talk...,115,Comedy|Drama|Romance|Thriller,Universal Pictures|Morgan Creek Productions,10/9/2006,5.4,2006
1267,tt1702439,28000000,97594140,Safe Haven,Julianne Hough|Josh Duhamel|Cobie Smulders|Dav...,Lasse HallstrÃ¶m,You know it when you find it,A young woman with a mysterious past lands in ...,115,Romance,Temple Hill Productions|Relativity Media,2/7/2013,6.8,2013
1047,tt1430615,40000000,24719215,Big Miracle,Drew Barrymore|John Krasinski|Kristen Bell|Vin...,Ken Kwapis,A family of whales trapped beneath the ice. On...,"Based on an inspiring true story, a small-town...",107,Adventure|Drama|Romance,Universal Pictures|Anonymous Content|Working T...,2/2/2012,6.5,2012
326,tt1179891,15000000,100734718,My Bloody Valentine,Jensen Ackles|Jaime King|Kerr Smith|Betsy Rue|...,Patrick Lussier,He's gonna break your heart.,"Ten years ago, a tragedy changed the town of H...",101,Mystery|Horror,Lionsgate,1/16/2009,5.3,2009

In [32]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [536]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget']

def total_revenue(x):   # a function made to count total revenues for each director (task 13)
    rev_sum = Counter()
    for i in range(len(x)):
        for j in x.iloc[i].director:
            rev_sum[j] += x.iloc[i].revenue
    return pd.DataFrame.from_dict(rev_sum, orient='index', columns = ['total_revenue'])



def high_budget(x):      # a function for task 16
    movies = Counter()
    for i in range(len(x)):
        for j in x.iloc[i].cast:
            movies[j] += 1
    return pd.DataFrame.from_dict(movies, orient='index', columns = ['high_budget_movies'])


def dir_monthly(x):     # a function for task 23
    rev_sum = Counter()
    for i in range(len(x)):
        for j in x.iloc[i].director:
            rev_sum[j] += 1
    return pd.DataFrame.from_dict(rev_sum, orient='index', columns = ['monthly'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [537]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [538]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [539]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [540]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [541]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [542]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [543]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,"[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [544]:
data.runtime.mean()

109.6585494970884

In [545]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [546]:
data.describe()['runtime']['50%']

107.0

In [547]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [548]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [549]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [550]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [551]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [552]:
data[data.revenue > data.budget].count().head(1)

imdb_id    1478
dtype: int64

In [553]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [554]:
data[(data.release_year == 2008)].sort_values(by = 'revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [555]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [556]:
data[(data.release_year>2012) & (data.release_year<=2014) ].query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [557]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [558]:
genres_count = pd.Series([x.split('|') for x in data['genres']]).explode().value_counts()
genres_count

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [559]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [560]:
genres_profitable_count = pd.Series([x.split('|') for x in data[data.profit > 0]['genres']]).explode().value_counts()
genres_profitable_count

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [561]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [562]:
total_revenue(data).sort_values(by = 'total_revenue', ascending = False)

                   total_revenue
Peter Jackson         6490593685
Christopher Nolan     4167548502
David Yates           4154295625
Michael Bay           3886938960
J.J. Abrams           3579169916
...                          ...
David MichÃ´d            2295423
Steven Shainberg         2281089
Paul Schrader            2062066
Keanu Reeves             2054941
Simon Hunter             2033165

[997 rows x 1 columns]

In [563]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [564]:
Action_frame = data[data.genres.str.contains("Action", na=False)]
Action_frame

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,[Alan Taylor],Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015,285603537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",[Gina Prince-Bythewood],All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,[Courtney Solomon],This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000,-19814759
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,[Brian Robbins],They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,[Bryan Singer],Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,[Des McAnuff],This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180

In [565]:
Action_directors = Action_frame.explode('director')
Action_directors

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015,285603537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000,-19814759
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180

In [566]:
Action_directors['director'].value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Gary McKendry         1
Joel Schumacher       1
Paul Abascal          1
Kevin Smith           1
Steven Knight         1
Name: director, Length: 364, dtype: int64

In [567]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [568]:
actor_revenue = data[data.release_year == 2012][['cast', 'revenue']]
actor_revenue.cast = actor_revenue.cast.apply(lambda x: x.split('|'))
exp_act_rev = actor_revenue.explode('cast')

In [569]:
exp_act_rev.groupby(by = 'cast').revenue.sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [570]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [571]:
high_budget_frame = data[data.budget > data.budget.mean()][['cast', 'budget']]
high_budget_frame.cast = high_budget_frame.cast.apply(lambda x: x.split('|'))
#high_budget_exp = high_budget_frame.explode('cast')
high_budget(high_budget_frame).sort_values(by = 'high_budget_movies', ascending = False)

                   high_budget_movies
Matt Damon                         18
Adam Sandler                       17
Angelina Jolie                     16
Samuel L. Jackson                  15
Eddie Murphy                       15
...                               ...
Cliff Robertson                     1
Carrie Coon                         1
Rip Torn                            1
Lara Flynn Boyle                    1
Piper Perabo                        1

[1505 rows x 1 columns]

In [572]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [573]:
NCage_frame = data[data.cast.str.contains("Nicolas Cage", na=False)]
NCage_genres_count = pd.Series([x.split('|') for x in NCage_frame['genres']]).explode().value_counts()
NCage_genres_count

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

In [574]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [575]:
data[data.production_companies.str.contains('Paramount Pictures')].query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [576]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [577]:
data.groupby(by = 'release_year').revenue.sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [578]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [579]:
Warner_frame = data[data.production_companies.str.contains('Warner Bros')]
Warner_frame.groupby(by = 'release_year').profit.sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [580]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [581]:
movies_monthly = data['release_date']
movies_monthly.release_date = pd.to_datetime(data['release_date']).dt.month
monyhly_count = movies_monthly.release_date[(movies_monthly.release_date > 0) 
                & (movies_monthly.release_date < 13)].value_counts()
monyhly_count

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [582]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [583]:
summer_count = movies_monthly.release_date[(movies_monthly.release_date > 5) 
               & (movies_monthly.release_date < 9)].value_counts()
              
sum(summer_count)

450

In [584]:
answers['22'] ='450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [585]:
movies_monthly_dir = data[['release_date', 'director']]
movies_monthly_dir.release_date = pd.to_datetime(data['release_date']).dt.month
movies_winter_dir = movies_monthly_dir[(movies_monthly_dir.release_date < 3) 
                                      | (movies_monthly_dir.release_date == 12)]
dir_monthly(movies_winter_dir).sort_values(by = 'monthly', ascending = False)

C:\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                   monthly
Peter Jackson            7
Clint Eastwood           6
Steven Soderbergh        6
Martin Scorsese          4
Shawn Levy               4
...                    ...
Lexi Alexander           1
Iain Softley             1
Anne Fletcher            1
David Frankel            1
Diane Keaton             1

[358 rows x 1 columns]

In [586]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [587]:
title_frame = data[['production_companies' , 'original_title']]
title_frame['title_length'] = title_frame.original_title.map(lambda x: len(x))
title_frame.production_companies = title_frame.production_companies.str.split('|')
companies = title_frame[title_frame.title_length == title_frame.title_length.max()].production_companies
companies.explode()

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

In [588]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [589]:
overview_frame = data[['production_companies' , 'overview']]
overview_frame['overview_length'] = overview_frame.overview.str.split(' ').map(lambda x: len(x))
overview_frame.production_companies = overview_frame.production_companies.str.split('|')
companies1 = overview_frame[overview_frame.overview_length == overview_frame.overview_length.max()].production_companies
companies1.explode()

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

711           Lions Gate Films
711    Lakeshore Entertainment
711         GreeneStreet Films
711      Midnight Picture Show
Name: production_companies, dtype: object

In [590]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [591]:
vote_frame = data[data['vote_average'] 
            > data.quantile(0.99, numeric_only=True)['vote_average']][['original_title', 'vote_average']]
vote_frame

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [592]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [593]:
from itertools import combinations
actors = data.cast.str.split('|').tolist()
pairs = []
for i in actors:
    for j in combinations(i, 2):
        pairs.append(' '.join(sorted(j)))
pairs = pd.DataFrame(combo_list)
pairs.columns = ['pairs']
pairs.pairs.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Kristen Stewart Robert Pattinson    5
Adam Sandler Kevin James            5
Name: pairs, dtype: int64

In [594]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'

ВАРИАНТ 2

# Submission

In [595]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [596]:
# и убедиться что ни чего не пропустил)
len(answers)

27